###BASE###
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
	<h3>Ifelse Command</h3>
	<hr>0

	{{ ifelse: login-state }}
		{{ if }}
			<p>{{ message }}</p>
		{{ if end }}
		{{ else }}
			<p>{{ message }}</p>
		{{ else end }}
	{{ ifelse end: login-state }}
	<hr>
	<a href="../../index.php">Table of Contents</a>
</body>
</html>
###BASE###

###LOGGED_IN###
<p>User is logged in: {{ user }}</p>
###LOGGED_IN###

###LOGGED_OUT###
<p>User is logged out: {{ user }}</p>
###LOGGED_OUT###